@import "bootstrap_mixins";
@import "fonts";
@import "variables";

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
h1, h2, .h2, h3, h4, h5{
  font-weight: 600;
}
img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2, .h2, h3, .h3{
  font-size: 1rem;
  color: $color-red;
  text-transform: uppercase;
  margin: 12px 0;
}

h4{
  font-size: 1.2rem;
}

h1{
  font-weight: 900;
  text-align: center;
}

h2, .h2, h4{
  font-weight: 700;
  margin-top: 20px;
}

h3, .h3{
  font-weight: 700;
  margin-top: 20px;
  color: $blue-text;
  text-transform: uppercase;
}

a.black-link{
  color: #000;
}

.header{
  margin: 20px auto;
}

.savedima{
  font-size: 20px;
}

.border-top-bold{
  border-top: 8px solid;
}

.banner-text{
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.blue-text{
  color: $blue-text;
}
.red-text{
  color: $color-red;
}

.zolgensma{
  border: 3px solid;
  border-radius: 6px;
  padding: 5px;
  font-weight: 600;
  position: relative;
  z-index: 9;
  text-align: center;
  background: #fff;
  &:before{
    content: '';
    display: none;
    position: absolute;
    bottom: 97%;
    left: 44%;
    width: 88px;
    height: 52px;
    background: url(../img/tooltip.png) bottom right / 100% no-repeat;
  }
}

.yellow-block{
  padding: 10px;
  background: $yellow-text;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  &__first, &__second{
    text-transform: uppercase;
    line-height: 1.2;
  }
  &__first, .price{
    font-weight: 900;
    font-size: 24px;
  }
}

.info{
  margin-top: 20px;
  margin-bottom: 20px;
  &__text{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.black-block{
  background: #000;
  font-weight: 500;
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 20px;
}

.rekvisit-block{
  font-size: 14px;
  min-height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.clipboard{
  font-weight: 500;
  background: #f9f9f9;
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 5px;
  transition: 300ms;
  position: relative;
 /* &:after{
    content: '';
    position: absolute;
    display: none;
    background: url(../img/copy-icon.png) center center / contain no-repeat;
    top: 0;
    right: -38px;
    width: 32px;
    height: 32px;
    bottom: 0;
    margin: auto;
    opacity: .7;
  }*/
  &:hover{
   /* &:after{
      display: inline-block;
    }*/
    background: #ececec;
  }
}

.copied {
  position: absolute;
  right: 0;
  font-size: 10px;
  background: #8cf99f;
  line-height: 1;
  top: 100%;
  z-index: 5;
  padding: 4px;
}

.icon{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  min-height: 50px;
  &.sms {
    background: url(../img/sms_icon.png) center center / 50px no-repeat;
  }
  &.sber {
    background: url(../img/sberbank_icon.png) center center / 50px no-repeat;
  }
  &.gaz {
    background: url(../img/gazprombank_icon.jpg) center center / 50px no-repeat;
  }
  &.yandex-money {
    background: url(../img/yandex_icon.gif) center center / 50px no-repeat;
  }
  &.kaspi-bank {
    background: url(../img/kaspi_bank.png) center center / 50px no-repeat;
  }
  &.qiwi {
    background: url(../img/qiwi_icon.png) center center / 100px no-repeat;
  }
  &.paypal {
    background: url(../img/paypal_icon.png) center center / 50px no-repeat;
  }
}

.block{
  margin: 5px 0;
}

.main-slider{
  max-height: 200px;
  overflow: hidden;
  margin: 0 -15px;
  &__item{
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.left-image{
  margin-top: 20px;
}


.doc-slider{
  background: #f1f1f1;
  margin: 0 15px 50px;
  margin-bottom: 50px!important;
  &__item {
    padding: 10px 5px;
  }
}

.link{
  color: #000;
  margin: 10px 0;
  text-decoration: underline;
  display: inline-block;
  &:hover, &:active{
    text-decoration: none;
  }
}
.button{
  font-size: 20px;
}
.fond-btn{
  font-size: 16px;
  padding: 10px 20px;
  background: #ffbc16;
  color: #000;
  font-weight: 700;
  transition: 300ms;
  margin: 10px auto;
  cursor: pointer;
  &:hover, &:active{
    text-decoration: none;
    background: #ff5d15;
    color: #000;
  }
}

.border-blue{
  width: 40%;
  margin: 20px auto;
  border-top: 2px solid $blue-text;
}

.footer{
  padding: 25px 15px;
  font-size: 18px;
  font-weight: 500;
  div{
    margin-bottom: 10px;
  }
}

.geogr-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: baseline;
  background: url(../img/fond-pomoshhi-geografiya-dobra-1.jpg) center center / contain no-repeat;
}

.soc-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
  &.insta{
    background: url(../img/instagram_logo.png) center center / contain no-repeat;
  }
  &.fb{
    background: url(../img/facebook_icon.png) center center / contain no-repeat;
  }
  &.vk{
    background: url(../img/vk-logo--fb.png) center center / contain no-repeat;
  }
  &.phone{
    background: url(../img/phone_icon.png) center center / contain no-repeat;
  }
  &.ok{
    background: url(../img/Odnoklassniki.svg) center center / contain no-repeat;
  }
  &.wp{
    background: url(../img/whatsapp_icon.png) center center / contain no-repeat;
  }
}

.video-btn{
  width: 100%;
}
.video-title {
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

@include media-breakpoint-up(sm) {
  h1{
    font-size: 1.5rem;
  }
  h2, .h2, h3, .h3, h4{
    font-size: 1.4rem;
  }
  .savedima{
    font-size: 32px;
  }
  .banner-text{
    text-align: left;
    font-size: 22px;
  }
  .yellow-block{
    font-size: 24px;
    &__first, .price{
      font-weight: 900;
      font-size: 32px;
    }
  }
  .info__text{
    font-size: 24px;
  }
  .black-block{
    font-size: 24px;
  }
  .rekvisit-block{
    font-size: 16px;
  }
  .copied {
    font-size: 12px;
  }
  .main-slider {
    max-height: 220px;
    margin: 0;
    &__item {
      height: 220px;
    }
  }
  .zolgensma {
    border: 5.3px solid;
    position: relative;
    margin-top: -20px;
    text-align: left;
    &:before {
      display: block;
      width: 88px;
    }
  }
  .doc-slider{
    background: #f1f1f1;
    margin: 0 20px 0;
    &__item {
      padding: 20px 10px;
    }
  }
  .slick-prev:before,
  .slick-next:before
  {
    font-size: 40px;
  }
  .link{
    font-size: 20px;
  }
  .fond-btn{
    font-size: 20px;
    padding: 10px 20px;
  }
}

@include media-breakpoint-up(md) {
  h1{
    font-size: 2rem;
  }
  h2, .h2, h3, .h3, h4{
    font-size: 1.8rem;
  }
  .savedima{
    font-size: 40px;
  }
  .banner-text{
    font-weight: 700;
    font-size: 32px;
    padding: 10px;
  }
  .zolgensma{
    font-size: 24px;
  }
  .rekvisit-block{
    font-size: 20px
  }
  .main-slider {
    max-height: 300px;
    &__item {
      height: 300px;
    }
  }
  .zolgensma {
    font-size: 28px;
    &:before {
      left: 64%;
      width: 96px;
    }
  }
  .footer {
    font-size: 20px;
  }
  .geogr-icon {
    width: 28px;
    height: 30px;
  }
}
@include media-breakpoint-up(lg) {
  h1{
    font-size: 2.2rem;
  }
  h2, .h2, h3, .h3, h4{
    font-size: 1.6rem;
  }
  .savedima{
    font-size: 48px;
  }
  .banner-text{
    font-weight: 900;
    font-size: 40px;
    line-height: 1.4;
  }
  .yellow-block{
    font-size: 28px;
    &__first, .price{
      font-weight: 900;
      font-size: 36px;
    }
  }
  .info__text{
    font-size: 1.4rem;
  }
  .black-block{
    font-size: 1.4rem;
  }
}
@include media-breakpoint-up(xl) {
  h1{
    font-size: 2.4rem;
  }
  h2, .h2, h3, .h3, h4{
    font-size: 1.8rem;
  }
  .header{
    max-width: 922px;
  }
  .savedima{
    font-size: 48px;
  }
  .yellow-block{
     font-size: 32px;
     &__first, .price{
       font-weight: 900;
       font-size: 40px;
     }
   }
  .info__text{
    font-size: 1.6rem;
  }
  .black-block{
    font-size: 1.6rem;
  }
  .rekvisit-block{
    font-size: 24px
  }
}